@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* base ligth theme */
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  /* base dark theme */
  .dark {
    --background: 221 39% 11% ;
    --foreground: 0 0% 95%;

    --card: 221 39% 11%;
    --card-foreground: 0 0% 95%;

    --popover: 221 39% 11%;
    --popover-foreground: 0 0% 95%;

    --primary: 211 55% 46%;
    --primary-foreground: 208 45% 94%;

    --secondary: 211 55% 46;
    --secondary-foreground: 208 45% 94%;

    --muted: 214 22% 25%;
    --muted-foreground: 0 0% 81%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 221 39% 11%;

    --border: 215 14% 34%;
    --input: 215 14% 34%;
    --ring: 211 55% 46%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
